body {
    background-color: #b8b8b8;
    margin: 0 auto;
    line-height: 20px;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 26px;
}

.discord {
    margin-left: 30px;
}

.discord h1 {
    text-align: center;
}

.discord a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 25px;
}