body {
    background-color: #ADADAD;
    margin: 0 auto;
    line-height: 20px;
}

.titre-haut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre-haut h1 {
    font-size: 80px;
}

.titre-haut p {
    font-size: 20px;
}

.titre-haut {
    font-family: 'Supermercado One', cursive;
    padding: 40px;
    text-align: center;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: 60px;
    padding-left: 0px;
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    background-color: #777777;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a::before {
    content: url("images/icone_menu.png");
    font-size: 15px;
    margin-right: 5px;
    display: inline-block;
}

.sous-menu {
    width: 100%;
    text-align: left;
    background-color: #777777;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    margin-top: 60px;
}

.sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a {
    color: white;
}

.sous-menu > li:hover {
    background-color: #ADADAD;
}

.sous-menu > li:hover > a {
    color: white;
}

@keyframes rotationMenu {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationMenuRetour {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.menu-deroulant:hover > a::before {
    animation: rotationMenu 0.5s linear forwards;
}

.menu-deroulant:not(:hover) > a::before {
    animation: rotationMenuRetour 0.5s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        border-top: 3px solid #ADADAD;
    }

    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-height: 50em;
        border-top: 3px solid #ADADAD;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

@keyframes apparitionSousMenuRetour {
    0% {
        max-height: 50em;
        border-top: 3px solid #ADADAD;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        border-top: 3px solid #ADADAD;
    }
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 2s forwards;
}

.menu-deroulant:not(:hover) > .sous-menu {
    animation: apparitionSousMenuRetour 0.5s backwards 0s;
}